.summaryPage {
  position: absolute;
  height: 90vh;
  top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
  box-sizing: content-box;
  .summary {
    width: 90%;
    color: white;
    font-size: 13pt;
    margin-top: 2vh;
  }
  .pictureFrame {
    border-radius: 50%;
    width: 50vw;
    height: 50vw;
    background-image: url("../../images//me.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: content-box;
  }
}
