@import "../../stylesheet.scss";

.about{
  width: 100vw;
  height: 90vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c7c7c7;
  border-bottom: 2px solid $brand-color;
  color: $text-color;
.pictureFrame {
  border-radius: 50%;
  max-width: 80vw;
  max-height: 80vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 4px $brand-color;
  .picture{
    width: 100%;
  }
}
.information {
  margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
      font-family: 'Ramabhadra', sans-serif;
      font-size: 30pt;
    }
}
}
