@import "../../stylesheet.scss";

.navbar {
  position: fixed;
  background-color: $primary-color;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-content: center;
  box-shadow: 0px 2px $brand-color;
  z-index: 200;
}

.nav {
  margin: 0px;
  width: 20vw;
  height: 10vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  .bars {
    font-size: 300%;
    cursor: pointer;
  }
}

// .navHide {
//   display: none;
// }

.links {
  width: 40%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-size: 300%;
  }
  a:visited {
    text-decoration: none;
    color: white;
  }
  a:active {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: white;
  }
  a:focus {
    text-decoration: none;
    color: white;
  }
}

.navLinks {
  position: fixed;
  top: 10vh;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 90vh;
  color: white;
  font-family: "Righteous", cursive;
  font-size: 15pt;
  transform: translateY(-100vh);
  transition-duration: 0.8s;
  z-index: 10;
  ul {
    height: 100%;
    li {
      height: 16.7%;
      width: 100%;
      border: 2px solid $brand-color;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-decoration: none;
      cursor: pointer;
      &:visited {
        text-decoration: none;
        color: white;
      }
      &:active {
        text-decoration: none;
        color: white;
      }
      &:hover {
        text-decoration: none;
        color: white;
      }
      &:focus {
        text-decoration: none;
        color: white;
      }
    }
  }
}

.navShow{
transform: translateY(0vh);
}


