.homepage {
  color: white;
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 10vh;
  z-index: -1;
  .name {
    font-size: 60pt;
    font-weight: bolder;
    text-align: center;
    font-family: "Cute Font", cursive;
  }
  .aboutMe {
    font-family: "Righteous", cursive;
  }
  .pictureFrame {
    margin-top: 20px;
    width: 80vw;
    height: 60vw;
    overflow: hidden;
    background-image: url("../../images/placeholder.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
